<!DOCTYPE html>
<html lang="de" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Werwolf</title>
    <link rel="icon" href="/static/pictures/profile.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/pictures/profile.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/a37df8e790.js" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}" crossorigin="anonymous"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<div id="page">
    <main>
        <div>
            <noscript>
                <p class="warn">
                    JavaScript ist in Ihrem Browser deaktiviert bzw. nicht unterstützt.
                    Diese Seite benötigt JavaScript, um richtig zu funktionieren.
                </p>
            </noscript>
        </div>
        <div class="header">
            <div class="role_picture">
                <img id="wolf_img" src="{{ url_for('static', filename='pictures/wolf.png') }}">
                <img class="hide" id="amor_img" src="{{ url_for('static', filename='pictures/amor.png') }}">
                <img class="hide" id="guard_img" src="{{ url_for('static', filename='pictures/guard.png') }}">
                <img class="hide" id="hunter_img" src="{{ url_for('static', filename='pictures/hunter.png') }}">
                <img class="hide" id="searcher_img" src="{{ url_for('static', filename='pictures/searcher.png') }}">
                <img class="hide" id="villager_img" src="{{ url_for('static', filename='pictures/villager.png') }}">
                <img class="hide" id="witch_img" src="{{ url_for('static', filename='pictures/witch.png') }}">
            </div>
            <div class="informations">
                <div class="side-content">
                    <div class="username">Name: </div>
                    <div class="room_name">Raum: </div>
                    <div class="role_name">Rolle: </div>
                    <div class="explanation">Erklärung: </div>
                </div>
                <div class="side-footer">
                    <a href="{{ url_for('game.start') }}"><i class="fas fa-home"></i></a>
                    <a href="{{ url_for('game.imprint') }}">Impressum</a>
                    <a href="{{ url_for('game.privacy') }}">Datenschutz</a>
                    <a href="{{ url_for('game.license') }}">Lizenzen</a>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </main>
</div>
<div class="flash-container">

</div>
</body>
</html>