{% extends 'base.html' %}

{% block head %}
<audio class="my_audio" id="amor" preload="none">
    <source src="{{ url_for('static', filename='sounds/amor.m4a') }}" type="audio/mpeg">
</audio>
<audio class="my_audio" id="day_start" preload="none">
    <source src="{{ url_for('static', filename='sounds/day_start.m4a') }}" type="audio/mpeg">
</audio>
<audio class="my_audio" id="day_end" preload="none">
    <source src="{{ url_for('static', filename='sounds/day_end.m4a') }}" type="audio/mpeg">
</audio>
<audio class="my_audio" id="hunter" preload="none">
    <source src="{{ url_for('static', filename='sounds/hunter.m4a') }}" type="audio/mpeg">
</audio>
<audio class="my_audio" id="loved" preload="none">
    <source src="{{ url_for('static', filename='sounds/loved.m4a') }}" type="audio/mpeg">
</audio>
<audio class="my_audio" id="master" preload="none">
    <source src="{{ url_for('static', filename='sounds/master.m4a') }}" type="audio/mpeg">
</audio>
<audio class="my_audio" id="protector" preload="none">
    <source src="{{ url_for('static', filename='sounds/protector.m4a') }}" type="audio/mpeg">
</audio>
<audio class="my_audio" id="searcher" preload="none">
    <source src="{{ url_for('static', filename='sounds/searcher.m4a') }}" type="audio/mpeg">
</audio>
<audio class="my_audio" id="voting" preload="none">
    <source src="{{ url_for('static', filename='sounds/voting.m4a') }}" type="audio/mpeg">
</audio>
<audio class="my_audio" id="witch_heal" preload="none">
    <source src="{{ url_for('static', filename='sounds/witch_heal.m4a') }}" type="audio/mpeg">
</audio>
<audio class="my_audio" id="witch_kill" preload="none">
    <source src="{{ url_for('static', filename='sounds/witch_kill.m4a') }}" type="audio/mpeg">
</audio>
<audio class="my_audio" id="wolves" preload="none">
    <source src="{{ url_for('static', filename='sounds/wolves.m4a') }}" type="audio/mpeg">
</audio>
<audio class="my_audio" id="wolves_win" preload="none">
    <source src="{{ url_for('static', filename='sounds/wolves_win.m4a') }}" type="audio/mpeg">
</audio>
<audio class="my_audio" id="village_win" preload="none">
    <source src="{{ url_for('static', filename='sounds/village_win.m4a') }}" type="audio/mpeg">
</audio>
<audio class="my_audio" id="loved_win" preload="none">
    <source src="{{ url_for('static', filename='sounds/loved_win.m4a') }}" type="audio/mpeg">
</audio>
{% endblock %}

{% block content %}
<div id="mute">
    <i class="fas fa-volume-mute"></i>
</div>
<div class="main">
    <div class="action_header"></div>
    <div class="action_text"></div>
    <div class="votes"></div>
    <div class="login_action">
        <div class="input-div pass">
            <div class="i">
                <i class="fas fa-user"></i>
            </div>
            <div class="div">
                <h5>Benutzername</h5>
                <input class="input" type="text" name="username" id="username">
            </div>
        </div>
        <div class="confirm-field">
            <button class="btnconfirm" id="login" type="submit">
                <div><span>Login</span></div><i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>
    <div class="rooms">
        <div class="input-div pass">
            <div class="i">
                <i class="fas fa-user"></i>
            </div>
            <div class="div">
                <h5>Room</h5>
                <input class="input" type="text" name="roomname" id="roomname">
            </div>
        </div>
        <div class="confirm-field">
            <button class="btnconfirm" id="create" type="submit">
                <div><span>Create</span></div><i class="fas fa-chevron-right"></i>
            </button>
        </div>
        <div class="confirm-field">
            <button class="btnconfirm" id="join" type="submit">
                <div><span>Join</span></div><i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>
    <div class="game-settings">
        <div class="settings-header">

        </div>
        <div class="settings-listed">

        </div>
        <div class="confirm-field">
                <button class="btnconfirm" id="leave" type="submit">
                    <div><span>Verlassen</span></div><i class="fas fa-chevron-right"></i>
                </button>
            </div>
        <div class="admin-only-override">
            <div class="confirm-field">
                <button class="btnconfirm" id="save" type="submit">
                    <div><span>Speichern</span></div><i class="fas fa-chevron-right"></i>
                </button>
            </div>
            <div class="confirm-field">
                <button class="btnconfirm" id="start" type="submit">
                    <div><span>Starten</span></div><i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="action">
        <div class="input-div selector-line choose">
            <div class="i">
                <i class="fas fa-chart-area"></i>
            </div>
            <div class="div">
                <h5>Spieler</h5>

                <div class="select-box selected_player">
                    <div class="option-container selected_player">

                    </div>


                    <input class="input selected visible" name="selected_player" id="selected_player" value="" readonly="readonly">

                    <div class="search-box">
                        <input type="text" placeholder="Suche..." />
                    </div>
                </div>

            </div>
            <div class="i arrow">
                <i class="fas fa-angle-down"></i>
            </div>
        </div>
        <div class="confirm-field">
            <button class="btnconfirm" id="vote" type="submit">
                <div><span>Weiter</span></div><i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>
    <div class="continue">
        <div class="confirm-field">
            <button class="btnconfirm" id="continue" type="submit">
                <div><span>Weiter</span></div><i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>
</div>

{% endblock %}